.box-text-enter {
  opacity: 0;
}
.box-text-enter-active{
  opacity: 1;
  transition: opacity 2000ms
}
.box-text-enter-done{
  opacity: 1;
}
.box-text-exit{
  opacity: 1;
}
.box-text-exit-active{
  opacity: 0;
  transition: opacity 2000ms;
}
.box-text-exit-done{
  opacity: 0;
}
